Source: bootils
Section: contrib/python
Priority: extra
Maintainer: Juergen Hermann <jh@web.de>
Build-Depends: debhelper (>= 9), python, dh-virtualenv (>= 0.8), tar
Standards-Version: 3.9.5
Homepage: https://github.com/Build-The-Web/bootils

Package: bootils
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python2.7 | python2.6, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}
Description: Process boot-strapping utilities that support writing robust application/service launcher and process life-cycle management scripts.
    .
    This is a distribution of "bootils" as a self-contained
    Python virtualenv wrapped into a Debian package ("omnibus" package,
    all passengers on board). The packaged virtualenv is kept in sync with
    the host's interpreter automatically.
    .
    See https://github.com/spotify/dh-virtualenv for more details.
